<head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }} - {{page.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">


    <!-- Littlefoot (footnotes as tooltip) stylesheet -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/littlefoot/dist/littlefoot.css"
    />


    <script type="text/javascript" id="cookiebanner"
            src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.1/cookiebanner.min.js"></script>

    <!-- RSS feed -->
    {% feed_meta %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111460485-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111460485-1');
    </script>
     

</head>
