---
---

@import "{{site.theme}}";

.layout-post {
  margin-bottom: 50px;
}
.centered {
  margin-right: auto;
  margin-left: auto;
}

.imgdiv {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.full-width {
  width: 100%;
}

.img-circle{
  border-radius: 50%;
}

.profile-picture-section{
  display: flex;
  align-items: center;
}

.info-container{
  padding-left: 40px;
  font-style: italic;
}

.yt-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

iframe{
  border: 0;
}
