<!doctype html>
<html lang="en">
<head>
    {% include default-head.html %}
</head>
<body>

<div class="wrapper">
    <section>
        <div id="title">
            <h1><a href="{{site.url}}">{{ site.title | default: site.github.repository_name }}</a></h1>
            <p>{{ site.description | default: site.github.project_tagline }}
            {% include rss_icon.html %}
            {% include twitter_author_button.html %}
            </p>
            <hr>
        </div>
        <h1>{{page.title}}</h1>
        {% include post_content.html %}
    </section>
    {% include footer.html %}
</div>

<!-- Enable littlefoot - this is the one that makes footnotes into tooltips -->
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript">
littlefoot.littlefoot({
buttonTemplate: `
<sup
  aria-expanded="false"
  class="footnote-superscript"
  id="<% reference %>"
  title="See Footnote <% number %>"
>
[<% number %>]
</sup>
`})  // Pass any littlefoot settings here.
</script>

<!-- ACCORDION SCRIPT-->
<!--TODO change-->
<script>
    const acc = document.getElementsByClassName("accordion");

    for (let i = 0; i < acc.length; i++) {
        const accordion = acc[i];
        const accordionButton = accordion.getElementsByClassName("accordion-button")[0];
        const accordionContent = accordion.getElementsByClassName("accordion-content")[0];

        console.log(accordionButton, accordion, accordionContent);

        accordionButton.addEventListener("click", function() {
            accordion.classList.toggle("accordion-active");
            //todo this doesn't work as both things are wrapped in a <p> tag.
            if (accordionContent.style.maxHeight) {
                accordionContent.style.maxHeight = null;
            } else {
                accordionContent.style.maxHeight = accordionContent.scrollHeight + "px";
            }
        });
    }
</script>

</body>
</html>
