<!doctype html>
<html>
{% include head.html %}
<body>

<div class="wrapper">
    <section>
        <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}
            {% include rss_icon.html %}
            {% include twitter_author_button.html %}
            </p>
            <hr>
        </div>
        <h1>{{page.title}}</h1>
        {% include post_content.html %}
    </section>
    {% include footer.html %}
</div>

{% if site.google_analytics %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}


<!-- Enable littlefoot - this is the one that makes footnotes into tooltips -->
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript">
littlefoot.littlefoot({
buttonTemplate: `
<sup
  aria-expanded="false"
  class="footnote-superscript"
  id="<% reference %>"
  title="See Footnote <% number %>"
>
[<% number %>]
</sup>
`})  // Pass any littlefoot settings here.
</script>

</body>
</html>
