<!doctype html>
<html lang="en">
<head>
    {% include default-head.html %}
</head>
<body>

<div class="wrapper">
    <section>
        <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }} </h1>
            <p>{{ site.description | default: site.github.project_tagline }}
            {% include rss_icon.html %}
            {% include mastodon_author_button.html %}
            </p>

            <hr>
        </div>
        {{ content }}
    </section>

</div>

</body>
</html>
